
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#nav-about").prop("class", "nav-link active");
        })
    </script>
}
